@model IEnumerable<BooksApplication.Models.Book>

@{
    ViewBag.Title = "Collection of Books";
}

<h2>Book Listing</h2>

<p>  
    @Html.ActionLink("Create New", "Create", "HomeController", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td style="width:15%">
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td style="width:15%">
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td style="width:20%">
        @Html.DisplayFor(modelItem => item.Publisher)
    </td>
    <td style="width:30%">
        @Html.DisplayFor(modelItem => item.Details)
    </td>
    <td style ="width:20%">
        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
        </td>
</tr>
}

</table>
